.y2ywsm-timepicker{
    width: 65px;
    background-color: #fff !important;
}

.y2ywsm-table {
    border: 1px solid black;
    width: 70%;
}

.y2ywsm-table td{
    border: 1px solid #ccc;
    text-align: center
}
.y2ywsm-datepicker-holder .dtpicker-header a,
.y2ywsm-datepicker-holder .dtpicker-components a, 
.y2ywsm-datepicker-holder .dtpicker-buttonCont a {
    border: 0px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
    
    
    
}

.y2ywsm-datepicker-holder .dtpicker-components *{
    margin: 0 !important;
    padding: 0 !important;
}

.button-calendar{
    background-color: red;
    border: 1px solid #438008;
    bottom: 3px;
    box-sizing: border-box;
    color: white;
    content: "Choisir mon créneau de livraison";
    cursor: pointer;
    height: 30px;
    left: 0;
    line-height: 26px;
    margin: 0;
    padding-left: 10px;
    position: absolute;
    width: 55%;
}

.hidden{
    display: none;
}